.main .main-content{
    margin: 20px;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main .main-content .contents{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 750px;
}
.main .main-content .contents .content{
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
}
.main .main-content .contents h2{
    color: #FF512F;
    margin-bottom: 10px;
}
.main .main-content .contents p{
    color: #DD2476;
    font-weight: bolder;
    font-size: 72px;
}
.main .main-content .announce{
    max-width: 300px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 10px;
    background: rgba(221, 36, 118, 0.8);
    border-radius: 5px;
}
.main .main-content .announce h2{
    color: white;
    text-align: center;
    margin-bottom: 5px;
}
.main .main-content .announce hr{
    border: 1px solid white;
    margin-bottom: 10px;
}
.main .main-content .announce .announce-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main .main-content .announce .announce-list .announce-item{
    background: rgba(255, 255, 255, 0.8);
    padding: 8px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.main .main-content .announce .announce-list .announce-item p{
    margin: 5px 0 0;
    color: gray;
    font-weight: normal;
}