.main .main-content{
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    height: 470px;
}
.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main .main-content h2{
    color: #FF512F;
}
.main .main-content button{
    background-color: #FF512F;
    color: white;
    width: 100px;
    height: auto; 
}
.main .main-content hr{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #FF512F;
}
.main .main-content .table-container{
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    height: 335px;
    overflow: auto;
}
.main .main-content table{
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}
.main .main-content table thead{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.main .main-content table th,
.main .main-content table td{
    padding: 12px 15px;
    border: 1px solid #FF512F;
}
.main .main-content table th{
    background-color: #FF512F;
    color: white;
    font-weight: bolder;
}
.main .main-content table tr:hover{
    background-color: rgba(255, 81, 47, 0.3);
}
.main .main-content table tr .btn{
    text-align: center;
}
#download-btn{
    float: right;
}
#report-type{
    width: 100px;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #FF512F;
    background-color: white;
    color: #FF512F;
    font-weight: bold;
}
#report-type:hover{
    background-color: #FF512F;
    color: white;
    cursor: pointer;
}
#report-type:focus{
    outline: none;
}