body{
    background: linear-gradient(90deg, #DA22FF, #9733EE);
    background-size: cover;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}
h2{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
div{
    margin-bottom: 5px;
}
#form-container{
    background-color: white;
    /* margin: 20px; */
    border-radius: 5px;
    padding: 20px;
    box-shadow: 20px 20px 20px solid white;
}
label{
    font-weight: bold;
    font-size: small;
    margin:auto;
}
#uname, #address{
    width: 515px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#dob{
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#fname, #lname, #email, #phone, #createPass, #confirmPass, #nid{
    width: 250px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button{
    margin-top: 10px;
    width: 200px;
    height: 30px;
    margin-left: 80px;
    background-color: rgb(128, 57, 219);
    border-radius: 2px;
    border:none;
    color: white;
    font-weight: bold;
    border-style: none;
    cursor: pointer;
}
select{
    margin-left: 14px;
    width: 180px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}
span{
    color: red;
    font-size: small;
}
#city{
    width: 150px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
label[for="state"], [for="phone"], [for="confirmPass"]{
    margin-left: 146px;
}
label[for="dob"]{
    margin-left: 85px;
}
#errorState{
    display: flex;
    margin-left: 46px;
}
#chk{
    margin-top: 5px;
}
#errorCity{
    display: flex;
}
#errorCityState{
    display: flex;
    flex-direction: row;
}
.male,.female,.term{
    color: black;
}
a{
    text-decoration: none;
}
select{
    margin: 0px;
    width: 100px;
}
#dob{
    width: 145px;
}